# Don't save secrets to the repository!
.env
cloud-sql-dev-proxy.json

# Don't save local database data to the repository!
.postgres

# Don't save user customizations to the repository!
docker-compose.override.yaml

# Don't save any python virtual environments!
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.vscode
