[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic_utils = "*"
flask = "*"
flask-cors = "*"
flask-migrate = "*"
flask-restx = "*"
flask-sqlalchemy = "*"
python-jose = "*"
pg8000 = "==1.16.5"
Werkzeug = "*"
casbin = "*"
casbin-sqlalchemy-adapter = "*"
deepdiff = {extras = ["murmur"], version = "*"}

[dev-packages]
pylint = "*"
pylint-flask = "*"
pylint-flask-sqlalchemy = "*"
pydocstyle = "*"
