[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
flask = "*"
flask-cors = "*"
flask-migrate = "*"
flask-restx = "*"
flask-sqlalchemy = "*"
pylint = "*"
python-jose = "*"
pg8000 = "==1.16.5"
Werkzeug = "*"
casbin = "*"
casbin-sqlalchemy-adapter = "*"

[dev-packages]

[requires]
python_version = "3.7"
