[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
fastapi = "*"
fastapi-cloudauth = "*"
fastapi-utils = "*"
graphene = "*"
graphene-sqlalchemy = "*"
jsonpatch = "*"
sqlalchemy = "*"
pydantic = "*"
uvicorn = "*"
python-multipart = "*"
pg8000 = "==1.16.5"
casbin = "*"
casbin-sqlalchemy-adapter = "*"
typing-extensions = "*"
deepdiff = {extras = ["murmur"], version = "*"}

[dev-packages]
pylint = "*"
pydocstyle = "*"
