@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive');

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flow-signature {
  font-family: 'Cedarville Cursive', cursive;
  font-size: 1.5em;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.overflow-scroll {
  overflow: scroll;
}

.avatar {
  vertical-align: middle;
  width: 80px;
  height: 50px;
  border-radius: 50%;
}



