@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flow-signature {
  font-family: 'Cedarville Cursive', cursive;
  font-size: 1.5em;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.overflow-scroll {
  overflow: scroll;
}

.avatar {
  vertical-align: middle;
  width: 80px;
  height: 50px;
  border-radius: 50%;
}



.react-datepicker-wrapper,
.react-datepicker-wrapper .react-datepicker__input-container {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
